<a href="https://colab.research.google.com/github/ddv246/DSBA-Project/blob/master/Yellow_Taxi_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ddv246/DSBA-Project/blob/master/Yellow_Taxi_Project.ipynb)

In [0]:
import pandas as pd
import os

In [3]:
import glob


all_files1 = []
for name in glob.glob('YellowTaxi/*'):
    all_files1.append(name)

li = []


for filename in all_files1:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

ValueError: ignored

In [0]:
frame

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-11-01 00:30:41,2019-11-01 00:32:25,1.0,0.00,1.0,N,145,145,2.0,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0
1,1.0,2019-11-01 00:34:01,2019-11-01 00:34:09,1.0,0.00,1.0,N,145,145,2.0,2.50,0.50,0.5,0.00,0.00,0.3,3.80,0.0
2,2.0,2019-11-01 00:41:59,2019-11-01 00:42:23,1.0,0.00,1.0,N,193,193,1.0,2.50,0.50,0.5,0.95,0.00,0.3,4.75,0.0
3,2.0,2019-11-01 00:02:39,2019-11-01 00:02:51,1.0,0.00,1.0,N,193,193,1.0,2.50,0.50,0.5,0.95,0.00,0.3,4.75,0.0
4,2.0,2019-11-01 00:18:30,2019-11-01 00:18:39,2.0,0.00,1.0,N,226,226,2.0,2.50,0.00,0.5,0.00,0.00,0.3,3.30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27556102,NaN,2019-09-30 08:02:00,2019-09-30 08:20:00,NaN,3.11,NaN,NaN,188,225,NaN,26.81,2.75,0.5,0.00,0.00,0.3,30.36,0.0
27556103,NaN,2019-09-30 08:00:00,2019-09-30 08:30:00,NaN,14.34,NaN,NaN,14,141,NaN,40.91,2.75,0.5,0.00,6.12,0.3,50.58,0.0
27556104,NaN,2019-09-30 08:10:10,2019-09-30 08:46:23,NaN,13.16,NaN,NaN,86,76,NaN,54.25,2.75,0.0,0.00,0.00,0.3,57.30,0.0
27556105,NaN,2019-09-30 08:17:00,2019-09-30 08:42:00,NaN,12.66,NaN,NaN,60,134,NaN,37.20,5.50,0.5,0.00,6.12,0.3,49.62,0.0
27556106,NaN,2019-09-30 08:11:00,2019-09-30 08:26:00,NaN,6.77,NaN,NaN,75,78,NaN,29.45,2.75,0.5,0.00,10.00,0.3,43.00,0.0

In [0]:
df=frame.dropna()

In [0]:
del df['RatecodeID']

In [0]:
del df ['store_and_fwd_flag']

In [0]:
del df['congestion_surcharge']

In [0]:
df.drop(df[df.trip_distance ==0.00].index, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
5,1.0,2019-11-01 00:35:48,2019-11-01 01:13:12,1.0,8.50,138,161,1.0,32.0,3.0,0.5,8.35,6.12,0.3,50.27
6,1.0,2019-11-01 00:02:59,2019-11-01 00:05:26,1.0,0.30,239,142,2.0,3.5,3.0,0.5,0.00,0.00,0.3,7.30
7,1.0,2019-11-01 00:11:43,2019-11-01 00:19:43,1.0,1.90,142,262,2.0,8.5,3.0,0.5,0.00,0.00,0.3,12.30
8,1.0,2019-11-01 00:11:34,2019-11-01 00:18:02,1.0,0.50,246,186,2.0,5.5,3.0,0.5,0.00,0.00,0.3,9.30
9,1.0,2019-11-01 00:54:04,2019-11-01 01:05:24,2.0,2.40,246,239,1.0,10.0,3.0,0.5,2.75,0.00,0.3,16.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27522012,1.0,2019-09-30 23:31:40,2019-09-30 23:44:09,2.0,3.90,48,7,2.0,13.5,3.0,0.5,0.00,0.00,0.3,17.30
27522013,1.0,2019-09-30 23:49:19,2019-09-30 23:55:37,2.0,1.60,193,179,1.0,7.5,0.5,0.5,0.00,0.00,0.3,8.80
27522014,2.0,2019-09-30 23:21:00,2019-09-30 23:29:07,1.0,1.74,143,151,1.0,8.0,0.5,0.5,2.36,0.00,0.3,14.16
27522015,2.0,2019-09-30 23:37:21,2019-09-30 23:45:59,1.0,1.38,238,263,1.0,8.0,0.5,0.5,2.36,0.00,0.3,14.16
27522016,2.0,2019-09-30 23:35:38,2019-09-30 23:46:40,1.0,4.87,262,247,2.0,15.5,0.5,0.5,0.00,0.00,0.3,19.30